/* In ../css/style.css */
.seds-aboutUs-s1-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap; /* Prevents wrapping on larger screens */
}

.seds-aboutUs-s2-left {
  flex: 1;
  margin-right: 20px; /* Adds space between text and image */
}

.seds-aboutUs-image {
  flex: 1;
  max-width: 50%; /* Ensures the image doesn't take more than half the width */
}

.seds-aboutUs-image img {
  width: 100%; /* Ensures the image covers its container */
  height: auto; /* Maintains aspect ratio */
}

.seds-aboutUs-s1 {
  width: 100%;
  height: auto;
  position: relative;
  background-image: url("../resources/images/home/background.png");
  background-size: cover;
  padding: 40px 0;
}

@media screen and (max-width: 769px) {
  .seds-aboutUs-s1-container {
      flex-wrap: wrap; /* Allows wrapping on smaller screens */
      justify-content: center; /* Centers content on smaller screens */
  }

  .seds-aboutUs-s2-left,
  .seds-aboutUs-image {
      flex: 1 1 100%; /* Allows elements to take full width on smaller screens */
      margin-right: 0; /* Removes right margin on smaller screens */
  }

  .seds-home-s2-left-h1 {
      text-align: center;
  }

  .seds-home-s2-left-para {
      text-align: center; /* Center paragraphs on smaller screens */
  }
  .seds-aboutUs-image1{
    display: none;
  }
}
