* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif; 
}

.passion-one-regular {
  font-family: "Passion One", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.passion-one-bold {
  font-family: "Passion One", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.passion-one-black {
  font-family: "Passion One", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* lexend exa */
.lexend-exa {
  font-family: "Lexend Exa", sans-serif;
  font-optical-sizing: auto;
}

:root {
  /* color */ 
  --purple: #A604F2;
  --light-purple: #d285f5;
  --dark-blue:#1C0037;
  --blue: #2e6cd8;
  --light: #FFFF;

  /* transition */
  --transition1: 200ms;
  --transition2: 400ms;
  --transition3: 600ms;

  /* font */
  --font-h1-lg: 48px;
  --font-h1-md: 40px;
  --font-h1: 30px;

  --font-h-medium-lg: 32px;
  --font-h-medium-md: 28px;
  --font-h-medium: 22px;

  --font-h2-lg: 26px;
  --font-h2-md: 20px;
  --font-h2: 15px;

  --font-h3-lg: 15px;
  --font-h3-md: 13px;
  --font-h3: 11px;

  --font-p-lg: 12px;
  --font-p-mid: 10px;
  --font-p-sm: 9px;
  --font-p-xsm: 7px;

  /* radius */
  --rounded-large: 30px;
  --rounded-mid: 20px;
  --rounded-small: 8px;
  --rounded-under: 0px 0px 7px 7px;

  /* font-weight */
  --bolder: 900;
  --bold: 700;
  --medium: 500;

  /* border */

  /* outline */

  /* shadows */
  --box-shadow: 0px 2px 3px 1px rgba(213, 211, 211, 0.8);

  /* gradients */
  --main-gradient-vertically: linear-gradient(var(--light) 10%, var(--purple));
  --main-gradient-horizontally: linear-gradient(to left, var(--purple) 0%, var(--light) );
  --secondary-gradient-horizontally: linear-gradient(to left, var(--light-purple) 20%, var(--blue));
}

/* background color */
.alg-bg-purple {
  background-color: var(--purple);
}

.alg-bg-light-purple {
  background-color: var(--light-purple);
}
.alg-bg-dark-blue {
  background-color: var(--dark-blue);
}

.alg-bg-blue {
  background-color: var(--blue);
}

.alg-bg-light {
  background-color: var(--light);
}

/* text-color */
.alg-text-dark {
  color: var(--dark-green);
}
.alg-text-light {
  color: var(--light);
}

/* shadow */
.alg-shadow {
  box-shadow: var(--box-shadow);
}

/* hover effects */

/* button */

/* input field */

/* border color */
.alg-border-color {
  border-color: var(--light-green);
}

/* border radius */
.alg-rounded-large {
  border-radius: var(--rounded-large);
}

.alg-rounded-mid {
  border-radius: var(--rounded-mid);
}

.alg-rounded-small {
  border-radius: var(--rounded-small);
}

.alg-rounded-under-small {
  border-radius: var(--rounded-under);
}

/* font weight */
.alg-bolder {
  font-weight: var(--bolder);
}

.alg-bold {
  font-weight: var(--bold);
}

.alg-bold-medium {
  font-weight: var(--medium);
}

/* gradients */
.alg-main-gradient-vert {
  background-image: var(--main-gradient-vertically);
}

.alg-main-gradient-hori {
  background-image: var(--main-gradient-horizontally);
}
.alg-secondary-gradient-hori {
  background-image: var(--secondary-gradient-horizontally);
}

@media screen and (min-width: 1070px) {
  /* font size */
  .alg-text-p {
    font-size: var(--font-p-lg);
  }

  .alg-text-h1 {
    font-size: var(--font-h1-lg);
  }

  .alg-text-h2 {
    font-size: var(--font-h2-lg);
  }

  .alg-text-h3 {
    font-size: var(--font-h3-lg);
  }

  .alg-text-medium {
    font-size: var(--font-h-medium-lg);
  }
}

@media screen and (max-width: 1070px) and (min-width: 575px) {
  /* font size */
  .alg-text-p {
    font-size: var(--font-p-mid);
  }

  .alg-text-h1 {
    font-size: var(--font-h1-md);
  }

  .alg-text-h2 {
    font-size: var(--font-h2-md);
  }

  .alg-text-h3 {
    font-size: var(--font-h3-md);
  }

  .alg-text-medium {
    font-size: var(--font-h-medium-md);
  }
}

@media screen and (max-width: 575px) {
  /* font size */
  .alg-text-p {
    font-size: var(--font-p-sm);
  }

  .alg-text-h1 {
    font-size: var(--font-h1);
  }

  .alg-text-h2 {
    font-size: var(--font-h2);
  }

  .alg-text-h3 {
    font-size: var(--font-h3);
  }

  .alg-text-medium {
    font-size: var(--font-h-medium);
  }
}

/* width */
::-webkit-scrollbar {
  /* width: 10px; */
}

/* Track */
::-webkit-scrollbar-track {
  /* background: var(--white); */
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: var(--tan); */
  /* border-radius: 20px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: var(--gold); */
}
