/* header css */
.seds-header-logo{
    width: 170px;
    height: 80px;
    background-size: cover;
    margin-right: 30px;
    background-image: url("../resources/images/header/logo_name.png");
}
.seds-header-button{
    width: 145px;
    height: 28px;
    margin-left: 40px;
    border-color: white;
    background-color: rgb(39, 39, 39);
}

/* footer css */
.footer{
    width: 100%;
    height: 270px;
}
.seds-footer-line{
    width: 100%;
    height: 3px;
}
.seds-footer-logo{
    width: 120px;
    height: 150px;
    background-size: cover;
    background-image: url("../resources/images/footer/logo.png");
}
.seds-footer-middle-sec{
    gap: 100px;
    color: white;
    
}
.seds-footer-hori-line{
    color: white;
    padding: 2px;
}
.seds-footer-bootom-box{
    justify-content: center;
    gap: 60px;
}


@media screen and (max-width: 1070px) {

    
}

@media screen and (max-width: 991px) {
   .seds-header-toogleBtn{
    margin-left: 150px;
   }
   .seds-header-button{
    margin-top: 15px;
    margin-left: 0px;
}
    
    
}

@media screen and (max-width: 768px) {
    .seds-footer-logo{
        width: 80px;
        height: 100px;
    }
    
     .seds-footer-middle-sec{
        gap: 50px;
    }

}

@media screen and (max-width: 576px) {
    
    .seds-header-toogleBtn{
        margin-left: 50px;
       }
       .seds-footer-middle-sec{
        gap: 20px;
    }
    .seds-footer-bootom-box{
        flex-direction: column;
        align-items: center;
        gap: 10px;
        
    }

}

@media screen and (max-width: 395px) {
    
    .seds-footer-logo{
        width: 65px;
        height: 80px;
    }
    .seds-footer-middle-sec{
        gap: 15px;
    }

}